lectures = [
    {'url': 'https://',
        'friendlyName': '', 'folder': '', 'channel': 'telegramchannel-id, 'download':True},
    
]

testingMode = False
telegramBotId = ''
telegramDevChannel = ""
ldapuser = ''
ldappw = ''